<div class='tweet-container'>
  <% if @client %>
    <h1>Tweet Now, Do it!</h1>
    <form action='/tweets' method='post' id='tweet-form'>
      <textarea name='tweet' placeholder='tweet'></textarea>
      <input class="tweet-submit-btn btn btn-large btn-block" type='submit' value='Tweet' />
    </form>
  <% else %>
    <h1>Please sign in with Twitter.</h1>
  <% end %>
  <div class='messages'>
  </div>

  <div class="spinner">
    <img src='/images/infinity.gif' class='load' />
  </div>
</div>
