<div class='container'>
  
  <h1>Neko Tweet</h1>

  <form action='/tweets' method='post' id='tweet-form'>
    <textarea name='tweet' placeholder='tweet'></textarea>
    <input type='submit' value='Tweet' />
  </form>

  <div class='messages'>
  </div>

  <img src='/images/infinity.gif' class='load' />
</div>
